html {
    background:    #f6f9ff;
    height:                100%;
}
body { 
    background:    #f6f9ff;
    color:         #444;
    margin:        0;
    border:        0;
    padding:       0;
    height:        100%;
    font-size:     1em;
    font-family:   "Liberation Sans",Verdana,Geneva,Arial,sans-serif;
}
#background {
    position:      absolute;
    width:         100%;
    height:        100%;
}
#background.pyramid {
    background-image:      url(step_pyramid.jpg);
    background-repeat:     no-repeat;
    background-size:       cover;
}
#wrapper {
    position:      relative;
    width:         100%;
    min-height:    100%;
}
#top-bar {
    position: relative;
    top:           0;
    left:          0;
    width:         100%;
    height:        50px;
    overflow:      hidden;
    margin:        0;
    border-bottom: solid 4px #d2c957;
    background:    #ffff6f;
}
#top-bar .icon {
    float:         left;
}
#top-bar .title-text {
    float:         left;
    height:        50px;
}
#top-bar .title-text .app-title {
    padding:       6px 10px 0 10px;
    font-weight:   bold;
    font-size:     160%;
}
#top-bar .title-text .module-title {
    position:      relative;
    bottom:        1px;
    padding:       0px 10px;
    font-size:     80%;
    color:         #d2c957;
}
#top-bar a {
  text-decoration:  none;
  background-color: transparent;
}
#top-bar .hieroglyphics {
    width:         1000px;
}
#top-bar .hieroglyphics img {
    float:         left;
}
#top-bar .top-right {
    position:      absolute;
    right:         0;
    width:         212px;
    height:        50px;
    background:    rgba(255, 255, 111, 0.9);
}
#top-bar .quick-links {
    margin:        0;
    padding-left:  5px;
    width:         107px;
}
#top-bar .quick-links img {
    float:         left;
}
#top-bar .account-info {
    float:         right;
    margin:        0;
    padding:       5px;
    width:         100px;
}
#bottom-bar {
    position:      absolute;
    bottom:        0;
    left:          0;
    width:         100%;
    height:        25px;
    margin:        0;
    overflow:      hidden;
    border-top:    solid 1px #ffff6f;
    background:    black;
    color:         white;
}
#bottom-bar .linuxsoftware-copyleft {
    float:         left;
}
#bottom-bar a {
    color:         white;
}
#bottom-bar .linuxsoftware-copyleft img {
    float:         left;
}
#bottom-bar .linuxsoftware-copyleft img.ls_text {
    margin:       3px 5px 0 3px;
}
#bottom-bar .linuxsoftware-copyleft .linuxsoftware {
    font-family:     Georgia, serif;
    font-size:       19px;
    font-weight:     bold;
    float:           left;
}
#bottom-bar .linuxsoftware-copyleft .copyleft {
    float:           left;
    font-size:       11px;
    margin:          1px 2px;
}
#bottom-bar .fork-me {
    float:         left;
}
#bottom-bar .fork-me img.octocat {
    margin:       2px 20px 0 20px;
}

#bottom-bar .bottom-right {
    position:      absolute;
    right:         0;
    width:         280px;
    height:        25px;
    margin:        1px 2px;
}
#bottom-bar .wtforms {
    float:         right;
    width:         30px;
}
#bottom-bar .zodb-storage {
    float:         right;
    width:         30px;
}
#bottom-bar .chameleon-templates {
    float:         right;
    width:         50px;
}
#bottom-bar .pyramid-powered {
    float:         right;
    width:         105px;
}
#content {
    padding:       0 0 75px 0;
}
#contacts {
    background:    #f6f9ff;
    padding:       0px;
}
.tool-bar {
    overflow:      hidden;
    padding:       5px;
    margin:        0;
}
.tool-bar input[type="submit"] {
    height:                35px;
    padding:               4px 6px 6px 6px;
    border:                1px outset #888;
    background-color:      #ddd;
    font-weight:           700;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
    cursor:                pointer;
}
#contacts .tool-bar input[type="submit"][name="addBtn"] {
    padding-left:          32px;
    background-image:      url(/static/add_contact_icon.png);
    background-repeat:     no-repeat;
    background-position:   1px 0px;
}
#contacts .tool-bar input[type="submit"][name="delBtn"] {
    padding-left:          32px;
    background-image:      url(/static/delete_contact_icon.png);
    background-repeat:     no-repeat;
    background-position:   1px 0px;
}
#contacts .tool-bar input[type="submit"][name="editBtn"] {
    padding-left: 32px;
    background-image:      url(/static/edit_contact_icon.png);
    background-repeat:     no-repeat;
    background-position:   1px 0px;
}
.grid {
}
.grid table {
    border-collapse:       collapse;
    border:                solid 1px #444;
    width:                 100%
}
.grid table thead {
    border:                solid 1px #444;
}
.grid table th,
.grid table td {
    border-left:           solid 1px #bbb;
    border-right:          solid 1px #bbb;
}
.grid table th:first-child,
.grid table td:first-child {
    border-left:           solid 1px #444;
}
.grid table th:last-child,
.grid table td:last-child {
    border-right:          solid 1px #444;
}
.grid tbody tr {
    border-bottom:         solid 1px white;
}
.grid tbody tr:last-child {
    border:                none;
}
.grid tbody tr.odd {
    background:            #ddffdd;
}
.grid tbody tr.even {
    background:            #eeffee;
}

.contact  {
    padding:               10px;
}
.contact .field label  {
    display:               inline-block;
    font-weight:           bold;
    width:                 80px;
}
.inset-text {
    color:         rgba(255, 255, 111, 0.5);
    text-shadow:   #d2c957  -0px -0px 0,
                   #d2c957  -2px -2px 0,
                   #d2c957  -1px -1px 0,
                   #ffff8e   1px  0px 1px,
                   #ffff8e   0px  2px 1px,
                   #d2c957   0px -2px 0,
                   #d2c957  -0px  0px 3px,
                   #ffff20  -0px  0px 5px;
}
.tablets {
    padding:       20px 0px 10px 30px;
}
.tablet-outer {
    margin:                0;
    padding:               20px;
    display:               inline-block;
    vertical-align:        top;
}
.tablet-outer a {
  text-decoration: none;
}
.tablet {
    margin:        0;
    padding:       10px;
    display:       block;
    overflow:      hidden;
    height:        220px;
    width:         240px;
    position:      relative;
    background:    #ffff6f;

    border:                1px solid #d2c957;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    -moz-box-shadow:       1px 1px 0px 0px  #d2c957,
                           2px 2px 0px 1px  #d2c957,
                           5px 5px 0px 0px  #d2c957;
    -webkit-box-shadow:    1px 1px 0px 0px  #d2c957,
                           2px 2px 0px 1px  #d2c957,
                           5px 5px 0px 0px  #d2c957;
    box-shadow:            1px 1px 0px 0px  #d2c957,
                           2px 2px 0px 1px  #d2c957,
                           5px 5px 0px 0px  #d2c957;
}
.tablet-image {
    width:         100%;
    height:        160px;
    overflow:      hidden;
}
.tablet-image img {
    display:       block;
    margin:        0 auto;
}
.tablet-text {
    font-family:"Liberation Sans",Verdana,Geneva,Arial,sans-serif;
    font-weight:    bold;
    letter-spacing: 1px;
    font-size:      280%;

    width:          100%;
    text-align:     center;
}
#login-tablet {
    display:       block;
    width:         262px;
    margin:        0px auto;
}
#login-tablet .login {
    padding:  15px;
}
#login-tablet .tool-bar input[type="submit"] {
    float: right;
}

a:visited  { color: #3366ff }
a:hover    { background-color: #3366ff; color: #ffffff }
a:active   { background-color: #0033ff }
a.imglink { 
    background-color: transparent; 
    text-decoration:  none;
}
a:hover.imglink { 
    background-color: transparent; 
    text-decoration:  none;
}

h1 { 
   border:        #0033ff outset medium; 
   color:         #ffffff;
   background-color: #3366ff; 
   line-height:   100%;
   text-align:    center;
   margin-top:    4; 
   margin-bottom: 0; 
}
h4 { 
   border:         #0033ff outset thin; 
   color:          #ffffff;
   background-color: #3366ff; 
   padding:        1px 1px 1px 1px;
   line-height:    110%;
   margin-bottom: 0; 
}
b { color:         #0033ff; }
a:hover b { background-color: #0033ff; color: #ffffff }
