.ui-selectable-helper {
    border:      1px dotted rgb(0, 0, 0);
    position: absolute;
    z-index: 10;
    display: none;
}
.single-selection .ui-selecting,
.multi-checkboxes .ui-selecting { 
    background:            #FEEAB0; 
}
.single-selection {
    display:               inline-block;
    position:              relative;
}
.single-selection .selection {
    border:                1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
    width:                 272px;
    padding:               4px 5px 4px 25px;
    -moz-appearance:       menulist;
    -webkit-appearance:    button;
    appearance:            button;
} 
.single-selection .selection label {
    width:                 auto;
    padding-left:          25px;
    text-indent:          -25px;
}
.single-selection .selection img.expand-selection {
    position:              absolute;
    top:                   4px;
    right:                 5px;
}
.single-selection .selection:hover {
    background-color:      #f5f5f5;
    border:                1px outset #ccc;
}
.single-selection .selection:active {
    background-color:      #ddd;
    border:                1px solid #ccc;
}
.single-selection .drop-holder {
    position:              relative;
}
.single-selection ul.drop-down {
    border:                1px outset #ccc;
    background-color:      #fefefe;
    margin:                0;
    padding:               2px 0px 2px 4px;
    list-style-type:       none;
    display:               block;
    overflow-y:            auto;
    height:                150px;
    width:                 272px;
    display:               none;
    position:              absolute;
    top:                   0px;
    left:                  1px;
}
.field .single-selection ul li {
    padding:               0px 0px 1px 0;
    margin:                0px;
    display:               list-item;
    width:                 auto;
    padding-left:          44px;
    text-indent:          -44px;
    line-height:           80%;
}
.field .single-selection ul li label {
    margin:                0;
    padding:               0;
    font-weight:           normal;
}
.field .single-selection label i[class^="famfamfam-flag"] {
    margin-right:          4px;
}
.field .single-selection ul li input {
    margin:                2px 3px 2px 4px;
}
.field .single-selection ul li input:checked + label {
    font-weight:           bold;
}

.field .single-selection,
.field .multi-checkboxes {
    vertical-align:        middle;
}
