/*-----------------------------------------------------------------------*/
/* DataTables style */
/*-----------------------------------------------------------------------*/

.dataTables_paginate {
    float: right;
    text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
    height: 19px;
    float: left;
    cursor: pointer;
    *cursor: hand;
    color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
    text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
    outline: none;
    background-color: inherit;
}

.paginate_disabled_previous,
.paginate_disabled_next {
    color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
    padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
    padding-right: 23px;
    margin-left: 10px;
}
.paging_full_numbers {
    width: 400px;
    height: 22px;
    line-height: 22px;
}
.paging_full_numbers a:active {
    outline: none;
}
.paging_full_numbers a:hover {
    text-decoration: none;
}
.paging_full_numbers a.paginate_button,
    .paging_full_numbers a.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
}
.paging_full_numbers a.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
    background-color: #99B3FF;
}

.DTS .dataTables_scrollHead table {
    border-top:            none;
    border-bottom:         none;
}
.DTS .dataTables_scrollHead table th {
    border-bottom:         none;
}
.DTS .dataTables_scrollBody table thead {
    border-bottom:         solid 1px #bbb;
}
.DTS .dataTables_scrollBody table {
    border-top:            none;
}
.DTS .dataTables_scrollHeadInner {
    border-top:            solid 1px #444;
    background-color:      #9b9d9e;
    background-image:      url(jumptorow.png);
    background-repeat:     no-repeat;
    background-position:   top right;
    cursor:                pointer;
}
.DTS .dataTables_scrollHeadInner table {
    cursor:                auto;
}
.DTS div.dataTables_scroll {
    background:            url('loading-background.png') repeat 0 0;
}
