.grid {
}
.grid table {
    border-collapse:       collapse;
    border-spacing:        0px;
    border:                solid 1px #444;
    width:                 100%;
    font-size:             small;
    background-color:      #eaeaea;
}
.grid table thead {
    border-bottom:         solid 1px #444;
    border: none;
}
.grid table th,
.grid table td {
    border-left:           solid 1px #bbb;
    border-right:          solid 1px #bbb;
    white-space:           nowrap;
}
.grid table th {
    border-bottom:         solid 1px #bbb;
}
.grid table th:first-child,
.grid table td:first-child {
    border-left:           none;
}
.grid table th:last-child,
.grid table td:last-child {
    border-right:          none;
}
.grid tbody tr {
    border-bottom:         solid 1px white;
    border-left:           solid 1px #444;
    border-right:          solid 1px #444;
}
.grid tbody tr:last-child {
    border-bottom:         none;
}
.grid tbody tr.odd {
    background:            #ddffdd;
}
.grid tbody tr.even {
    background:            #eeffee;
}
.grid tr.even.row_selected td {
    background-color:      #B0BED9;
}
.grid tr.odd.row_selected td {
    background-color:      #9FAFD1;
}
.grid tr.even td.cell_selected {
    background-color:      #B0BED9;
}
.grid tr.odd td.cell_selected {
    background-color:      #9FAFD1;
}
