.top-menu {
    position:              absolute;
    top:                   27px;
    left:                  20px;
    z-index:               2;
    color:                 white;
    font-family:           "Liberation Sans",Verdana,Geneva,Arial,sans-serif;
}
header .top-menu a         { outline: 0; }
header .top-menu a:link    { text-decoration:  none; }
header .top-menu a:hover   { text-decoration:  underline; }
header .top-menu a:visited {  }
header .top-menu a:active  {
    background-color:      #12558a;
    text-decoration:       none; 
}
.sub-menu {
    float:                 left;
    margin-left:           2px;
    position:              relative;
}
.sub-menu .menu-tab a,
.sub-menu .menu-tab span {
    cursor: pointer;
    display:               inline-block;
    font-weight:           bold;
    font-size:             14px;
    padding-top:           3px;
    height:                19px;
    width:                 120px;
    color:                 white;
    background:            #4890C9;
    -moz-border-radius-topleft:         10px;
    -moz-border-radius-topright:        10px;
    -webkit-border-top-left-radius:     10px;
    -webkit-border-top-right-radius:    10px;
    border-top-left-radius:             10px;
    border-top-right-radius:            10px;
    text-align:            center;
    border-top:            1px outset #4890C9;
    border-left:           1px outset #4890C9;
    border-right:          1px outset #4890C9;
}


.sub-menu:hover .menu-tab a,
.sub-menu:hover .menu-tab span {
    background:            #12558a; 
    border-top:            1px outset #12558a;
    border-left:           1px outset #12558a;
    border-right:          1px outset #12558a;
    height:                21px;
}





.sub-menu .menu-drop-down {
    background:            #12558a; 
    border-left:           1px outset #12558a;
    border-right:          1px outset #12558a;
    border-bottom:         1px outset #12558a;
    -webkit-border-top-right-radius:    4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius:  4px;
    -moz-border-radius-topright:        4px;
    -moz-border-radius-bottomright:     4px;
    -moz-border-radius-bottomleft:      4px;
    border-top-right-radius:            4px;
    border-bottom-right-radius:         4px;
    border-bottom-left-radius:          4px;
    display:               none;
    position:              absolute;
    top:                   24px;
    left:                  0px;
    width:                 180px; 
    font-size:             14px;
    padding-top:           10px;
    padding-bottom:        25px;
}
.sub-menu:hover > .menu-drop-down {
    display:               block;
}
.menu-item {
    text-align:            left;
    display:               block;
}
.menu-item a,
.menu-item span {
    cursor:                pointer;
    display:               inline-block;
    width:                 156px; 
    padding:               10px 12px
}
