.tablets {
    padding:               20px 0px 10px 30px;
}
.tablet-outer {
    margin:                0;
    padding:               20px;
    display:               inline-block;
    vertical-align:        top;
}
.tablet {
    margin:                0;
    padding:               10px;
    display:               block;
    overflow:              hidden;
    height:                220px;
    width:                 240px;
    position:              relative;
    background:            #ffff6f;
    border:                1px solid #d2c957;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    -moz-box-shadow:       1px 1px 0px 0px  #d2c957,
                           2px 2px 0px 1px  #d2c957,
                           5px 5px 0px 0px  #d2c957;
    -webkit-box-shadow:    1px 1px 0px 0px  #d2c957,
                           2px 2px 0px 1px  #d2c957,
                           5px 5px 0px 0px  #d2c957;
    box-shadow:            1px 1px 0px 0px  #d2c957,
                           2px 2px 0px 1px  #d2c957,
                           5px 5px 0px 0px  #d2c957;
}
.tablet-text {
    font-family:           'Liberation Sans',Verdana,Geneva,Arial,sans-serif;
    font-weight:           bold;
    letter-spacing:        1px;
    font-size:             280%;
    width:                 100%;
    text-align:            center;
}
